- if (status === 1)
    h2 What's the point of being intellectually superior if no one knows who you are?
    p In the cerebral elite, appearances are everything. Any self respecting intellectual has a photograph - how else will your lecture groupies recognise you?
    p To TED Yourself, you'll need to upload a suitably philosophical portrait to your Linked In profile.

- else
    h2 Error #{status}
    p=error