div.left
    div.about-text
        h1 An extensively profound explanation:

        p
            | TED Yourself was conceived by digital agency 
            a(href="http://blonde.net") Blonde&nbsp;
            | in a moment of inspired copyright infringement. With
            a(href="http://ted.com") TED Talks
            |' arrival in Edinburgh looming, the Blonde team were feeling the intellectual heat. They needed a way to inflate their cereberal credentials - 
            | and fast. So, in aid of the propagation of pseudo-intellectualism and bogus job titles, TED Yourself was born. 
            | Since its inception, TED Yourself has racked up a variety of underacheivements. To date, it has won no awards, 
            | held no conferences, hosted no inspirational speakers and is available in no language other than English (it’s the only one that counts anyway).
        p 
            | TED Yourself hopes to reach even greater heights of mediocrity by using its computer generated ingenuity to further
            | ride on the coat tails of its namesake. The sheer audacity of it all will hopefully guarantee success, as well as
            | protecting TED Yourself from lawsuits.

        h1 For the digitally superior amongst you
        p
            | TED Yourself was built in
            a(href="http://nodejs.org") nodejs
            |, utilizing
            a(href="http://couchdb.org") CouchDB 
            | as a database. Not averse to blowing their own trumpet, the site has been left
            a(href="https://github.com/tanepiper/tedyourself") open source
            |, to show Blonde's coding handiwork in all its nodejs glory. If TED Yourself has whetted your appetite for more digital masterpieces,
            | then get in touch to see what Blonde can do for you.

        div(class="visit-blonde")
            a(href="http://blonde.net") Visit the ingenuity behind TED Yourself

div.right
    a(href="/authorise", title="TED Yourself", id="ted-yourself-button") TED Yourself with LinkedIn